@import './common/reset.scss';
@import './common/mixin.scss';
@import './common/layout.scss';

// common
.wrap {
  max-width: 720px;
  position: relative;
  margin: 0 auto;
  @include vw(padding, 0 44px);
  box-sizing: border-box;

  &.no-padding {
    padding: 0;

  }
}

* {
  @include vw(font-size, 30.67px);
  font-family: 'NotoSansKR';
  p,
  span {
    @include vw(letter-spacing, -2px);
  }
}

.title {
  font-weight: 900;
}

// 비주얼부분
.sector-visual {
  background-color: #f1f5f8;

  .top {
    width: 100%;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    @include vw(height, 117px);
    @include vw(padding, 40px 44px);
    box-sizing: border-box;

    a {
      @include vw(margin-right, -35px);
      float: left;

      img {
        @include vw(width, 52px);
      }
    }

    strong {
      display: block;

      font-weight: 900;
      text-align: center;

    }
  }

  .bottom {
    text-align: center;
    @include vw(padding, 55px 0);

    img {
      @include vw(width, 175px);
    }

    p {
      @include vw(font-size, 40px);
      line-height: 1.5;
      font-weight: 900;
    }
  }
}

// 드롭박스
form {
  @include vw(margin, 40px 0);

  select,textarea {
    background: url('//1gb.co.kr/ktmobile/img/gray_arrow.png') no-repeat 97% 50%/15px auto;
    @include vw(padding, 25px);
    @include vw(font-size, 25.67px);
    display: block;
    width: 100%;
    @include vw(height, 105px);
    box-sizing: border-box;
    @include vw(border-radius, 20px);
    border: 2px solid #e1e1e1;
    @include vw(margin-bottom, 25px);
    -webkit-appearance: none;
    /* for chrome */
    -moz-appearance: none;
    /*for firefox*/
    appearance: none;

    &::-ms-expand {
      display: none;
      /*for IE10,11*/
    }

  }
}
textarea{
  background: none !important;
  resize: none;
  .scroll::-webkit-scrollbar {
    display: none;
  }
}

// 빨간색폰트
.red {
  color: #ee2e26;
}


// 표
table {
  width: 100%;
  @include vw(margin-bottom, 20px);

  th {
    background-color: #f8f8f8;
  }

  th,
  td {
    border: 1px solid #e5e5e5;
  }

  tr {

    th {
      width: 20%;
      @include vw(padding, 25px 0);


    }

    &:first-child {
      border-top: 3px solid #666666;

      th {
        @include vw(padding, 40px 0);
        font-weight: 900;

      }
    }
  }

  td {
    text-align: right;
    color: #6d6e6f;
    @include vw(padding, 0 5px);
    box-sizing: border-box;
  }
}

// 안내사항
.guide {
  background-color: #f8f8f8;
  @include vw(border-radius, 20px);

  @include vw(margin-bottom, 26px);

  .title {
    display: block;
    @include vw(padding, 40px 40px 25px);
    border-bottom: 2px solid #e1e1e1;
  }

  ul {
    @include vw(padding, 20px 45px 40px);

    li {
      color: #808080;
      @include vw(margin-bottom, 55px);
      line-height: 1.5;

      &:before {
        content: '';
        display: inline-block;
        @include vw(width, 7px);
        @include vw(height, 7px);
        background-color: #808080;
        border-radius: 50%;
        @include vw(vertical-align, 12px);
        @include vw(margin-right, 14px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

.apply_btn {
  @include vw(margin-top, 30px);
  @include vw(padding, 30px 0);
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 900;
  background-color: #5ddfdf;
  @include vw(border-radius, 20px);
}

// 작은 안내문구
.info {
  @include vw(font-size, 28px);
  line-height: 1.5;

  &:before {
    content: '';
    display: inline-block;
    @include vw(width, 7px);
    @include vw(height, 7px);
    background-color: #000;
    border-radius: 50%;
    @include vw(vertical-align, 8px);
    @include vw(margin-right, 7px);
    @include vw(margin-left, 25px);
  }
  &.no-dot{
    &:before{
      display: none;
    }
  }
}

.banner {
  @include vw(padding, 40px 35px);
  box-sizing: border-box;
  @include vw(height, 265px);
  @include vw(border-radius, 20px);
  @include vw(margin-bottom, 33px);

  .main-title {
    @include vw(font-size, 40px);
    @include vw(letter-spacing, -2px);
    font-weight: 900;
    line-height: 1.2;

  }

  .sub-title {
    @include vw(font-size, 25.33px);
    font-weight: 400;
    @include vw(letter-spacing, -1.5px);
    @include vw(margin-top, 25px);
    line-height: 1.2;

    &.gray {
      color: #7f7f7f;
    }

    &.dark-gray {
      color: #525252;
    }
  }

  &.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('/img/banner_1.png');

    &.third {
      background-image: url('/img/banner_4.png');

      .big {
        @include vw(font-size, 66.67px);
      }
    }

  }
}

.center {

  text-align: center !important;

}

//common 끝

// 가입신청 페이지
.sector-info,.sector-consult {
  @include vw(padding, 70px 0);

  em {
    color: #d63a33;
  }

  input{
    @include vw(width, 600px);
    border: none;
    border-bottom: 2px solid #e1e1e1;
    @include vw(padding, 25px 15px);
    @include vw(font-size, 30.67px);
    @include vw(margin, 35px 0);

  }

  span {
    text-align: right;
    display: block;
  }

  .product-info {
    @include vw(margin-top, 20px);


  }

  .address {
    .address-search {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      input {
        @include vw(width, 445px);
        @include vw(margin-right, 35px);
      }

      button {
        display: inline-block;
        @include vw(font-size, 30px);
        @include vw(height, 75px);
        @include vw(width, 190px);
        @include vw(padding, 20px 0);
        @include vw(border-radius, 10px);
        font-weight: 900;
      }
    }
  }
}

.sector-agree {
  @include vw(padding-bottom, 115px);

  .wrap {
    div {
      background-color: #f8f8f8;
      @include vw(border-radius, 20px);

      @include vw(margin-bottom, 26px);

      .title {
        margin-top: 0;
        @include vw(margin-bottom, 21px);
      }

      p {
        color: #808080;
        @include vw(margin-top, 21px);

        em {
          color: #4793a3;
          font-weight: 900;
        }
      }
    }
  }

  .essential {
    @include vw(padding, 30px 40px);

    .title {

      @include vw(vertical-align, 12px);
      @include vw(margin-left, 10px);
    }

    [type="radio"] {
      appearance: none;
      @include vw(width, 53px);
      @include vw(height, 53px);
      background-image: url(/kt_renewal/img/check_off.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: transparent;

      &:checked {
        background-image: url(/kt_renewal/img/check_on.png);
      }
    }
  }




}

//요금계산기 페이지
.sector-select {
  @include vw(padding-top, 70px);

  ul {
    @include vw(padding, 30px 0 65px);

    li {
      @include vw(height, 76px);
      box-sizing: border-box;
      text-align: center;
      display: inline-block;
      width: 23%;
      margin-right: 1%;
      @include vw(font-size, 28px);
      @include vw(padding, 25px 0);
      background-color: #f2f2f2;
      color: #000;
      font-weight: 900;
      @include vw(border-radius, 10px);

      &:last-child {
        margin-right: 0;
      }

      &.on {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.sector-table {
  @include vw(padding-bottom, 140px);

  .info {
    @include vw(margin-bottom, 80px);
  }

  .apply_btn {
    @include vw(width, 630px);
    margin: 0 auto;
  }
}

//사은품 이벤트
.sector-price {
  @include vw(padding-bottom, 90px);

  .wrap {
    @include vw(padding-top, 60px);

    .title {
      @include vw(margin-bottom, 35px);

    }

    .info {
      @include vw(font-size, 25px);

      &:before {
        margin-left: 0;
      }
    }
  }

  table {
    @include vw(padding-top, 30px);

    tr {
      th {
        text-align: left;
        @include vw(padding, 25px);
      }

      &:first-child {
        th {
          @include vw(padding, 40px 25px);
          text-align: center;
        }
      }

      td {
        @include vw(padding, 0 25px);
      }
    }
  }

  .apply_btn {
    @include vw(margin-top, 40px);
    @include vw(width, 630px);
    margin: 0 auto;
  }
}

//인터넷 상품페이지
.sector-price {
  &.internet {
    table {
      tr {

        &:first-child {
          th {
            @include vw(padding, 40px 0px);
          }
        }

        th {
          text-align: center;
          line-height: 1.2;
          @include vw(padding, 10px);

          &.normal {
            font-weight: 400;
          }

        }


      }

      th,
      td {
        width: initial;
        vertical-align: middle;
      }
    }

    .internet,
    .wifi {
      tr {
        @include vw(font-size, 25px);

        &:first-child {
          th {
            @include vw(font-size, 30.67px);
          }
        }
      }
    }

    .setting,
    .return {
      tr {
        &:first-child {
          th {
            @include vw(padding, 10px);
          }
        }
      }

      th,
      td {
        text-align: left;
        vertical-align: middle;
      }

      td {
        @include vw(padding, 10px);
      }

      th {
        font-weight: 900;
        @include vw(padding, 10px);
      }
    }

    .setting {
      th {
        font-weight: 400;
      }
    }

    .office,
    .company,
    .return_percent {

      th,
      td {
        text-align: center;
      }

      td {
        @include vw(padding, 10px);
      }
    }

    .return_percent,
    .return {
      th {
        font-weight: 900;
      }

      table {
        @include vw(margin-top, 35px);
      }
    }

    .banner {
      .white {
        color: #fff;
      }

      @include vw(margin-top, 50px);

      &.first {
        background-image: url('/img/banner_6.png');
      }

      &.second {
        background-image: url('/img/banner_7.png');
      }

      &.third {
        background-image: url('/img/banner_4.png');

        .big {
          @include vw(font-size, 66.67px);
        }
      }
    }
  }

}

//cctv 상품페이지
.sector-price {
  &.cctv {
    .wrap {
      table{
        margin-bottom: 0;
      }
      thead {

        th {
          text-align: center;
          @include vw(padding, 25px 0);
          line-height: 1.5;
        }

      }

      tbody {
        tr{
          &:first-child{
            border-top: 1px solid #f8f8f8;
          }
        }
        th {
          border-top: 1px solid #f8f8f8;
          text-align: left;

          &:first-child {
            font-weight: 400;
          }

        }
        td{
          position: relative;
          &:before{
            content: '';
            display: inline-block;
            @include vw(width,40px);
            @include vw(height,40px);
            border-radius: 50%;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.blue{
            &:before{
              background-color: #4691f3;
            }
          }
          &.green{
            &:before{
              background-color: #3f917b;
            }
          }
          &.red{
            &:before{
              background-color: #ff5959;
            }
          }
          &.black{
            &:before{
              background-color: #000;
            }
          }
        }
      }
      &.extra{
        .point{
          text-align: center;
          @include vw(padding-top, 75px);
          @include vw(border-radius, 20px);
          @include vw(margin-bottom, 90px);
          background-color: #f7f7f7;
          .text{
            p{
              @include vw(font-size, 23px);
              @include vw(margin-top, 7px);
              line-height: 1.2;           
            }
            .bold{
              font-weight: 900;
              @include vw(font-size, 34px);
              line-height: 1.2;
            }
            .highlight{
              display: inline-block;
              position: relative;
              z-index: 2;
              &:before{
                content: '';
                display: inline-block;
                @include vw(height,25px);
                width: 100%;
                background-color: #baeeea;
                position: absolute;
                @include vw(bottom, -5px);
                left: 0;
                z-index: -1;
              }
            }
          }
          .bottom-text{
            @include vw(border-bottom-left-radius,20px);
            @include vw(border-bottom-right-radius,20px);          
            background-color: #f2f2f2;
            @include vw(padding,10px 0);
            box-sizing: border-box;
            .info{
              @include vw(font-size, 20px);
              &:before{
                vertical-align: 4px;
              }
            }

          }
        }
      }
      &.pros{
        .pros-box{
          text-align: center;
          @include vw(border-radius, 20px);
          @include vw(margin-bottom, 90px);
          background-color: #f7f7f7;
         .title{
          @include vw(border-top-left-radius,20px);
            @include vw(border-top-right-radius,20px);
            font-weight: 400;
            @include vw(padding, 15px 0);
            @include vw(font-size, 28px);
            color:#fff;
            margin-bottom: 0;
         }
       .contents{
        >div{
          @include vw(padding, 35px 0);
          border-bottom:1px solid #e6e6e6;
          &:last-child{
            border-bottom: none;
          }
        }
        font-weight: 700;
        .color-title{
          @include vw(font-size, 32px);
          @include vw(margin-bottom, 20px);
         }
         .text{
          @include vw(font-size, 26px);
          color:#000;
         }
       }
         &.blue{
          .title{
            background-color: #4691f3;
          }
          .color-title{
            color: #4691f3;
          }
         }
         &.red{
          .title{
            background-color: #ee2e26;
          }
          .color-title{
            color: #ee2e26;
          }
         }
         &.black{
          .title{
            background-color: #4d4d4d;
          }
         }
        }
      }
    }
  }
}
.sector-consult{
  .customer-name{
    @include vw(margin-top, 35px);
  }
  .consult{
    textarea{
      @include vw(height, 93px);
      &:last-child{
        @include vw(height, 300px);
      }
    }
  }
}