html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -1px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

button {
  background-color: none;
  margin: 0em;
  padding: 0;
  border-width: none;
  border-style: none;
  border-color: none;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/kt_renewal/font/NotoSansKR-Regular.woff2") format("woff2");
  /* Super Modern Browsers */
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("/kt_renewal/font/NotoSansKR-Medium.woff2") format("woff2");
  /* Super Modern Browsers */
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("/kt_renewal/font/NotoSansKR-Bold.woff2") format("woff2");
  /* Super Modern Browsers */
  font-weight: 700;
}
body {
  font-family: "NotoSansKR";
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  body {
    letter-spacing: -2px;
  }
}

header {
  width: 100%;
}
header .logo-wrap {
  height: 13.8888888889vw;
  padding: 8.3333333333vw 0;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  header .logo-wrap {
    height: 100px;
  }
}
@media screen and (min-width: 720px) {
  header .logo-wrap {
    padding: 60px 0;
  }
}
header .logo-wrap h1 {
  float: left;
}
header .logo-wrap h1 a {
  display: flex;
  align-items: center;
}
header .logo-wrap h1 a img {
  float: left;
  width: 5.9027777778vw;
  margin-right: 3.0555555556vw;
}
@media screen and (min-width: 720px) {
  header .logo-wrap h1 a img {
    width: 42.5px;
  }
}
@media screen and (min-width: 720px) {
  header .logo-wrap h1 a img {
    margin-right: 22px;
  }
}
header .logo-wrap h1 a strong {
  float: left;
  font-weight: 900;
  font-size: 3.3333333333vw;
}
@media screen and (min-width: 720px) {
  header .logo-wrap h1 a strong {
    font-size: 24px;
  }
}
header .logo-wrap .cs_center {
  float: right;
}
header .logo-wrap .cs_center img {
  width: 5.9027777778vw;
}
@media screen and (min-width: 720px) {
  header .logo-wrap .cs_center img {
    width: 42.5px;
  }
}
header .nav {
  height: 10.8333333333vw;
  box-sizing: border-box;
  padding: 2.3611111111vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.1111111111vw;
}
@media screen and (min-width: 720px) {
  header .nav {
    height: 78px;
  }
}
@media screen and (min-width: 720px) {
  header .nav {
    padding: 17px;
  }
}
@media screen and (min-width: 720px) {
  header .nav {
    margin-bottom: 8px;
  }
}
header .nav a {
  display: inline-block;
  padding: 1.3888888889vw 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 2.9583333333vw;
}
@media screen and (min-width: 720px) {
  header .nav a {
    padding: 10px 0;
  }
}
@media screen and (min-width: 720px) {
  header .nav a {
    font-size: 21.3px;
  }
}

footer .wrap-full {
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  background-color: #f2f2f2;
  border-width: 0.2777777778vw;
}
@media screen and (min-width: 720px) {
  footer .wrap-full {
    border-width: 2px;
  }
}
footer .wrap-full .icon-list {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.4722222222vw 0;
}
@media screen and (min-width: 720px) {
  footer .wrap-full .icon-list {
    padding: 25px 0;
  }
}
footer .wrap-full .icon-list li {
  width: 25%;
}
footer .wrap-full .icon-list li img {
  width: 100%;
}
footer .wrap {
  padding: 6.9444444444vw 4.8611111111vw;
  font-size: 3.5180555556vw;
  color: #666666;
  letter-spacing: -0.1388888889vw;
  line-height: 1.3;
}
@media screen and (min-width: 720px) {
  footer .wrap {
    padding: 50px 35px;
  }
}
@media screen and (min-width: 720px) {
  footer .wrap {
    font-size: 25.33px;
  }
}
@media screen and (min-width: 720px) {
  footer .wrap {
    letter-spacing: -1px;
  }
}
footer .wrap span {
  margin-right: 0.2777777778vw;
}
@media screen and (min-width: 720px) {
  footer .wrap span {
    margin-right: 2px;
  }
}
footer .wrap strong {
  font-weight: 900;
}
footer .botton-banner {
  height: 16.6666666667vw;
  background-color: #4793a3;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 720px) {
  footer .botton-banner {
    height: 120px;
  }
}
footer .botton-banner img {
  width: 8.8888888889vw;
  height: 8.4722222222vw;
}
@media screen and (min-width: 720px) {
  footer .botton-banner img {
    width: 64px;
  }
}
@media screen and (min-width: 720px) {
  footer .botton-banner img {
    height: 61px;
  }
}
footer .botton-banner span {
  margin-left: 2.0833333333vw;
  font-size: 7.4083333333vw;
  font-weight: 900;
  color: #fff;
}
@media screen and (min-width: 720px) {
  footer .botton-banner span {
    margin-left: 15px;
  }
}
@media screen and (min-width: 720px) {
  footer .botton-banner span {
    font-size: 53.34px;
  }
}
footer .botton-banner span strong {
  color: #fdf47f;
}

.wrap {
  max-width: 720px;
  position: relative;
  margin: 0 auto;
  padding: 0 6.1111111111vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .wrap {
    padding: 0 44px;
  }
}
.wrap.no-padding {
  padding: 0;
}

* {
  font-size: 4.2597222222vw;
}
@media screen and (min-width: 720px) {
  * {
    font-size: 30.67px;
  }
}
* p,
* span {
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  * p,
  * span {
    letter-spacing: -2px;
  }
}

.title {
  font-weight: 900;
}

.sector-visual {
  background-color: #f1f5f8;
}
.sector-visual .top {
  width: 100%;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  height: 16.25vw;
  padding: 5.5555555556vw 6.1111111111vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .sector-visual .top {
    height: 117px;
  }
}
@media screen and (min-width: 720px) {
  .sector-visual .top {
    padding: 40px 44px;
  }
}
.sector-visual .top a {
  margin-right: -4.8611111111vw;
  float: left;
}
@media screen and (min-width: 720px) {
  .sector-visual .top a {
    margin-right: -35px;
  }
}
.sector-visual .top a img {
  width: 7.2222222222vw;
}
@media screen and (min-width: 720px) {
  .sector-visual .top a img {
    width: 52px;
  }
}
.sector-visual .top strong {
  display: block;
  font-weight: 900;
  text-align: center;
}
.sector-visual .bottom {
  text-align: center;
  padding: 7.6388888889vw 0;
}
@media screen and (min-width: 720px) {
  .sector-visual .bottom {
    padding: 55px 0;
  }
}
.sector-visual .bottom img {
  width: 24.3055555556vw;
}
@media screen and (min-width: 720px) {
  .sector-visual .bottom img {
    width: 175px;
  }
}
.sector-visual .bottom p {
  font-size: 5.5555555556vw;
  line-height: 1.5;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  .sector-visual .bottom p {
    font-size: 40px;
  }
}

form {
  margin: 5.5555555556vw 0;
}
@media screen and (min-width: 720px) {
  form {
    margin: 40px 0;
  }
}
form select {
  background: url("/img/gray_arrow.png") no-repeat 97% 50%/15px auto;
  padding: 3.4722222222vw;
  font-size: 3.5652777778vw;
  display: block;
  width: 100%;
  height: 14.5833333333vw;
  box-sizing: border-box;
  border-radius: 2.7777777778vw;
  border: 2px solid #e1e1e1;
  margin-bottom: 3.4722222222vw;
  -webkit-appearance: none;
  /* for chrome */
  -moz-appearance: none;
  /*for firefox*/
  appearance: none;
}
@media screen and (min-width: 720px) {
  form select {
    padding: 25px;
  }
}
@media screen and (min-width: 720px) {
  form select {
    font-size: 25.67px;
  }
}
@media screen and (min-width: 720px) {
  form select {
    height: 105px;
  }
}
@media screen and (min-width: 720px) {
  form select {
    border-radius: 20px;
  }
}
@media screen and (min-width: 720px) {
  form select {
    margin-bottom: 25px;
  }
}
form select::-ms-expand {
  display: none;
  /*for IE10,11*/
}

.red {
  color: #ee2e26;
}

table {
  width: 100%;
  margin-bottom: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  table {
    margin-bottom: 20px;
  }
}
table th {
  background-color: #f8f8f8;
}
table th,
table td {
  border: 1px solid #e5e5e5;
}
table tr th {
  width: 20%;
  padding: 3.4722222222vw 0;
}
@media screen and (min-width: 720px) {
  table tr th {
    padding: 25px 0;
  }
}
table tr:first-child {
  border-top: 3px solid #666666;
}
table tr:first-child th {
  padding: 5.5555555556vw 0;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  table tr:first-child th {
    padding: 40px 0;
  }
}
table td {
  text-align: right;
  color: #6d6e6f;
  padding: 0 0.6944444444vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  table td {
    padding: 0 5px;
  }
}

.guide {
  background-color: #f8f8f8;
  border-radius: 2.7777777778vw;
  margin-bottom: 3.6111111111vw;
}
@media screen and (min-width: 720px) {
  .guide {
    border-radius: 20px;
  }
}
@media screen and (min-width: 720px) {
  .guide {
    margin-bottom: 26px;
  }
}
.guide .title {
  display: block;
  padding: 5.5555555556vw 5.5555555556vw 3.4722222222vw;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 720px) {
  .guide .title {
    padding: 40px 40px 25px;
  }
}
.guide ul {
  padding: 2.7777777778vw 6.25vw 5.5555555556vw;
}
@media screen and (min-width: 720px) {
  .guide ul {
    padding: 20px 45px 40px;
  }
}
.guide ul li {
  color: #808080;
  margin-bottom: 7.6388888889vw;
  line-height: 1.5;
}
@media screen and (min-width: 720px) {
  .guide ul li {
    margin-bottom: 55px;
  }
}
.guide ul li:before {
  content: "";
  display: inline-block;
  width: 0.9722222222vw;
  height: 0.9722222222vw;
  background-color: #808080;
  border-radius: 50%;
  vertical-align: 1.6666666667vw;
  margin-right: 1.9444444444vw;
}
@media screen and (min-width: 720px) {
  .guide ul li:before {
    width: 7px;
  }
}
@media screen and (min-width: 720px) {
  .guide ul li:before {
    height: 7px;
  }
}
@media screen and (min-width: 720px) {
  .guide ul li:before {
    vertical-align: 12px;
  }
}
@media screen and (min-width: 720px) {
  .guide ul li:before {
    margin-right: 14px;
  }
}
.guide ul li:last-child {
  margin-bottom: 0;
}

.apply_btn {
  margin-top: 4.1666666667vw;
  padding: 4.1666666667vw 0;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 900;
  background-color: #5ddfdf;
  border-radius: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  .apply_btn {
    margin-top: 30px;
  }
}
@media screen and (min-width: 720px) {
  .apply_btn {
    padding: 30px 0;
  }
}
@media screen and (min-width: 720px) {
  .apply_btn {
    border-radius: 20px;
  }
}

.info {
  font-size: 3.8888888889vw;
  line-height: 1.5;
}
@media screen and (min-width: 720px) {
  .info {
    font-size: 28px;
  }
}
.info:before {
  content: "";
  display: inline-block;
  width: 0.9722222222vw;
  height: 0.9722222222vw;
  background-color: #000;
  border-radius: 50%;
  vertical-align: 1.1111111111vw;
  margin-right: 0.9722222222vw;
  margin-left: 3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .info:before {
    width: 7px;
  }
}
@media screen and (min-width: 720px) {
  .info:before {
    height: 7px;
  }
}
@media screen and (min-width: 720px) {
  .info:before {
    vertical-align: 8px;
  }
}
@media screen and (min-width: 720px) {
  .info:before {
    margin-right: 7px;
  }
}
@media screen and (min-width: 720px) {
  .info:before {
    margin-left: 25px;
  }
}

.sector-info {
  padding: 9.7222222222vw 0;
}
@media screen and (min-width: 720px) {
  .sector-info {
    padding: 70px 0;
  }
}
.sector-info em {
  color: #d63a33;
}
.sector-info input {
  width: 83.3333333333vw;
  border: none;
  border-bottom: 2px solid #e1e1e1;
  padding: 3.4722222222vw 2.0833333333vw;
  font-size: 4.2597222222vw;
  margin: 4.8611111111vw 0;
}
@media screen and (min-width: 720px) {
  .sector-info input {
    width: 600px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info input {
    padding: 25px 15px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info input {
    font-size: 30.67px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info input {
    margin: 35px 0;
  }
}
.sector-info span {
  text-align: right;
  display: block;
}
.sector-info .product-info {
  margin-top: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  .sector-info .product-info {
    margin-top: 20px;
  }
}
.sector-info .product-info form {
  margin: 5.5555555556vw 0;
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form {
    margin: 40px 0;
  }
}
.sector-info .product-info form select {
  background: url("/img/gray_arrow.png") no-repeat 97% 50%/15px auto;
  padding: 3.4722222222vw;
  font-size: 3.5652777778vw;
  display: block;
  width: 100%;
  height: 14.5833333333vw;
  box-sizing: border-box;
  border-radius: 2.7777777778vw;
  border: 2px solid #e1e1e1;
  margin-bottom: 3.4722222222vw;
  -webkit-appearance: none;
  /* for chrome */
  -moz-appearance: none;
  /*for firefox*/
  appearance: none;
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form select {
    padding: 25px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form select {
    font-size: 25.67px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form select {
    height: 105px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form select {
    border-radius: 20px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .product-info form select {
    margin-bottom: 25px;
  }
}
.sector-info .product-info form select::-ms-expand {
  display: none;
  /*for IE10,11*/
}
.sector-info .address .address-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sector-info .address .address-search input {
  width: 61.8055555556vw;
  margin-right: 4.8611111111vw;
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search input {
    width: 445px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search input {
    margin-right: 35px;
  }
}
.sector-info .address .address-search button {
  display: inline-block;
  font-size: 4.1666666667vw;
  height: 10.4166666667vw;
  width: 26.3888888889vw;
  padding: 2.7777777778vw 0;
  border-radius: 1.3888888889vw;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search button {
    font-size: 30px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search button {
    height: 75px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search button {
    width: 190px;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search button {
    padding: 20px 0;
  }
}
@media screen and (min-width: 720px) {
  .sector-info .address .address-search button {
    border-radius: 10px;
  }
}

.sector-agree {
  padding-bottom: 15.9722222222vw;
}
@media screen and (min-width: 720px) {
  .sector-agree {
    padding-bottom: 115px;
  }
}
.sector-agree .wrap div {
  background-color: #f8f8f8;
  border-radius: 2.7777777778vw;
  margin-bottom: 3.6111111111vw;
}
@media screen and (min-width: 720px) {
  .sector-agree .wrap div {
    border-radius: 20px;
  }
}
@media screen and (min-width: 720px) {
  .sector-agree .wrap div {
    margin-bottom: 26px;
  }
}
.sector-agree .wrap div .title {
  margin-top: 0;
  margin-bottom: 2.9166666667vw;
}
@media screen and (min-width: 720px) {
  .sector-agree .wrap div .title {
    margin-bottom: 21px;
  }
}
.sector-agree .wrap div p {
  color: #808080;
  margin-top: 2.9166666667vw;
}
@media screen and (min-width: 720px) {
  .sector-agree .wrap div p {
    margin-top: 21px;
  }
}
.sector-agree .wrap div p em {
  color: #4793a3;
  font-weight: 900;
}
.sector-agree .essential {
  padding: 4.1666666667vw 5.5555555556vw;
}
@media screen and (min-width: 720px) {
  .sector-agree .essential {
    padding: 30px 40px;
  }
}
.sector-agree .essential .title {
  vertical-align: 1.6666666667vw;
  margin-left: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  .sector-agree .essential .title {
    vertical-align: 12px;
  }
}
@media screen and (min-width: 720px) {
  .sector-agree .essential .title {
    margin-left: 10px;
  }
}
.sector-agree .essential [type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 7.3611111111vw;
  height: 7.3611111111vw;
  background-image: url(/img/check_off.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
@media screen and (min-width: 720px) {
  .sector-agree .essential [type=radio] {
    width: 53px;
  }
}
@media screen and (min-width: 720px) {
  .sector-agree .essential [type=radio] {
    height: 53px;
  }
}
.sector-agree .essential [type=radio]:checked {
  background-image: url(/img/check_on.png);
}

.sector-select {
  padding-top: 9.7222222222vw;
}
@media screen and (min-width: 720px) {
  .sector-select {
    padding-top: 70px;
  }
}
.sector-select ul {
  padding: 4.1666666667vw 0 9.0277777778vw;
}
@media screen and (min-width: 720px) {
  .sector-select ul {
    padding: 30px 0 65px;
  }
}
.sector-select ul li {
  height: 10.5555555556vw;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  width: 23%;
  margin-right: 1%;
  font-size: 3.8888888889vw;
  padding: 3.4722222222vw 0;
  background-color: #f2f2f2;
  color: #000;
  font-weight: 900;
  border-radius: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  .sector-select ul li {
    height: 76px;
  }
}
@media screen and (min-width: 720px) {
  .sector-select ul li {
    font-size: 28px;
  }
}
@media screen and (min-width: 720px) {
  .sector-select ul li {
    padding: 25px 0;
  }
}
@media screen and (min-width: 720px) {
  .sector-select ul li {
    border-radius: 10px;
  }
}
.sector-select ul li:last-child {
  margin-right: 0;
}
.sector-select ul li.on {
  background-color: #000;
  color: #fff;
}

.sector-table {
  padding-bottom: 19.4444444444vw;
}
@media screen and (min-width: 720px) {
  .sector-table {
    padding-bottom: 140px;
  }
}
.sector-table .info {
  margin-bottom: 11.1111111111vw;
}
@media screen and (min-width: 720px) {
  .sector-table .info {
    margin-bottom: 80px;
  }
}
.sector-table .apply_btn {
  width: 87.5vw;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .sector-table .apply_btn {
    width: 630px;
  }
}

.sector-price {
  padding-bottom: 12.5vw;
}
@media screen and (min-width: 720px) {
  .sector-price {
    padding-bottom: 90px;
  }
}
.sector-price .wrap {
  padding-top: 8.3333333333vw;
}
@media screen and (min-width: 720px) {
  .sector-price .wrap {
    padding-top: 60px;
  }
}
.sector-price .wrap .title {
  margin-bottom: 4.8611111111vw;
}
@media screen and (min-width: 720px) {
  .sector-price .wrap .title {
    margin-bottom: 35px;
  }
}
.sector-price .wrap .info {
  font-size: 3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .sector-price .wrap .info {
    font-size: 25px;
  }
}
.sector-price .wrap .info:before {
  margin-left: 0;
}
.sector-price table {
  padding-top: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .sector-price table {
    padding-top: 30px;
  }
}
.sector-price table tr th {
  text-align: left;
  padding: 3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .sector-price table tr th {
    padding: 25px;
  }
}
.sector-price table tr:first-child th {
  padding: 5.5555555556vw 3.4722222222vw;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .sector-price table tr:first-child th {
    padding: 40px 25px;
  }
}
.sector-price table tr td {
  padding: 0 3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .sector-price table tr td {
    padding: 0 25px;
  }
}
.sector-price .apply_btn {
  margin-top: 5.5555555556vw;
  width: 87.5vw;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .sector-price .apply_btn {
    margin-top: 40px;
  }
}
@media screen and (min-width: 720px) {
  .sector-price .apply_btn {
    width: 630px;
  }
}/*# sourceMappingURL=style.css.map */